[submodule "snowblocks/jupyterlab/async-ipython-magic"]
	path = snowblocks/jupyterlab/async-ipython-magic
	url = https://github.com/leriomaggio/async-ipython-magic.git
[submodule "snowblocks/emacs/mu"]
	path = snowblocks/emacs/mu
	url = https://github.com/djcb/mu.git
