# ipdb breakpoint
snippet bipdb "breakpoint ipdb"
import ipdb; ipdb.set_trace()
endsnippet


# numpy docstring
snippet numpydoc "numpy docstring"
"""${1:Description}

Parameters
----------
param : type
	description

Yields
------
type
	description

Returns
-------
ret : type
	description

Raises
------
Exception
	description
"""
endsnippet
